:root {
  --ms-spacing-smaller: 3px;
  --ms-spacing-small: 5px;
  --ms-spacing-medium: 7px;
  --ms-spacing-large: 12px;
  --ms-font-size: 12px;
  --ms-font-size-large: 14px;
  --ms-font-size-larger: 16px;
  --ms-line-height: 16px;
  --ms-line-height-larger: 20px;
  --ms-primary-color: #40c979;
  --ms-text-color-dark: #212529;
  --ms-text-color: #585858;
  --ms-text-color-light: #65727e;
  --ms-border-color: #bebebe;
  --ms-border-color-light: #f1f3f5;
  --ms-input-placeholder: #65727e;
  --ms-input-background: #e9e9ed;
  --ms-input-border: #dee2e6;
  --ms-input-border-active: #c1c9d0;
  --ms-input-border-invalid: #e44e4e;
  --ms-input-outline-invalid: rgba(219, 138, 138, 0.5);
  --ms-input-color: #e9e9ed;
  --ms-input-disabled: #f7f7f7;
  --ms-input-min-height: 45px;
  --ms-options-height: 40dvh;
  --ms-option-background: #f3f4f7;
  --ms-border-radius: 5px;
  --ms-icon-size: 12px;
  --ms-icon-space: 30px;
  --ms-checkbox-size: 16px;
  --ms-checkbox-radius: 4px;
  --ms-checkbox-border: #ced4da;
  --ms-checkbox-background: #fff;
  --ms-checkbox-active: #fff;
  --ms-checkbox-thickness: 2px;
}
.multi-select {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  width: 100%;
  user-select: none;
}
.multi-select .multi-select-header {
  border: 1px solid var(--ms-input-border);
  border-radius: var(--ms-border-radius);
  padding: var(--ms-spacing-medium) var(--ms-spacing-large);
  padding-right: var(--ms-icon-space);
  overflow: hidden;
  gap: var(--ms-spacing-medium);
  min-height: var(--ms-input-min-height);
}
.multi-select .multi-select-header::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23949ba3' viewBox='0 0 16 16'%3E%3Cpath d='M8 13.1l-8-8 2.1-2.2 5.9 5.9 5.9-5.9 2.1 2.2z'/%3E%3C/svg%3E");
  height: var(--ms-icon-size);
  width: var(--ms-icon-size);
}
.multi-select .multi-select-header.multi-select-header-active {
  border-color: var(--ms-input-border-active);
}
.multi-select .multi-select-header.multi-select-header-active::after {
  transform: translateY(-50%) rotate(180deg);
}
.multi-select .multi-select-header.multi-select-header-active + .multi-select-options {
  display: flex;
}
.multi-select .multi-select-header .multi-select-header-placeholder {
  color: var(--ms-text-color-light);
}
.multi-select .multi-select-header .multi-select-header-option {
  display: inline-flex;
  align-items: center;
  background-color: var(--ms-option-background);
  font-size: var(--ms-font-size-large);
  padding: var(--ms-spacing-smaller) var(--ms-spacing-small);
  border-radius: var(--ms-border-radius);
}
.multi-select .multi-select-header .multi-select-header-max {
  font-size: var(--ms-font-size-large);
  color: var(--ms-text-color-light);
}
.multi-select .multi-select-options {
  display: none;
  box-sizing: border-box;
  flex-flow: wrap;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  margin-top: var(--ms-spacing-small);
  padding: var(--ms-spacing-small);
  background-color: #fff;
  border-radius: var(--ms-border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: var(--ms-options-height);
  overflow-y: auto;
  overflow-x: hidden;
}
.multi-select .multi-select-options::-webkit-scrollbar {
  width: 5px;
}
.multi-select .multi-select-options::-webkit-scrollbar-track {
  background: #f0f1f3;
}
.multi-select .multi-select-options::-webkit-scrollbar-thumb {
  background: #cdcfd1;
}
.multi-select .multi-select-options::-webkit-scrollbar-thumb:hover {
  background: #b2b6b9;
}
.multi-select .multi-select-options .multi-select-option,
.multi-select .multi-select-options .multi-select-all {
  padding: var(--ms-spacing-large);
}
.multi-select .multi-select-options .multi-select-option .multi-select-option-radio,
.multi-select .multi-select-options .multi-select-all .multi-select-option-radio {
  background: var(--ms-checkbox-background);
  margin-right: var(--ms-spacing-large);
  height: var(--ms-checkbox-size);
  width: var(--ms-checkbox-size);
  border: 1px solid var(--ms-checkbox-border);
  border-radius: var(--ms-checkbox-radius);
}
.multi-select .multi-select-options .multi-select-option .multi-select-option-text,
.multi-select .multi-select-options .multi-select-all .multi-select-option-text {
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: inherit;
  font-size: var(--ms-font-size-larger);
  line-height: var(--ms-line-height);
}
.multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-radio,
.multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-radio {
  border-color: var(--ms-primary-color);
  background-color: var(--ms-primary-color);
}
.multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-radio::after,
.multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-radio::after {
  content: "";
  display: block;
  width: calc(var(--ms-checkbox-size) / 4);
  height: calc(var(--ms-checkbox-size) / 2);
  border: solid var(--ms-checkbox-active);
  border-width: 0 var(--ms-checkbox-thickness) var(--ms-checkbox-thickness) 0;
  transform: rotate(45deg) translate(50%, -25%);
}
.multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-text,
.multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-text {
  color: var(--ms-text-color-dark);
}
.multi-select .multi-select-options .multi-select-option:hover, .multi-select .multi-select-options .multi-select-option:active,
.multi-select .multi-select-options .multi-select-all:hover, .multi-select .multi-select-options .multi-select-all:active {
  background-color: var(--ms-option-background);
}
.multi-select .multi-select-options .multi-select-all {
  border-bottom: 1px solid var(--ms-border-color-light);
  border-radius: 0;
}
.multi-select .multi-select-options .multi-select-search {
  padding: var(--ms-spacing-medium) var(--ms-spacing-large);
  border: 1px solid var(--ms-input-border);
  border-radius: var(--ms-border-radius);
  margin: 10px 10px 5px 10px;
  width: 100%;
  outline: none;
  font-size: var(--ms-font-size-larger);
}
.multi-select .multi-select-options .multi-select-search::placeholder {
  color: var(--ms-text-color-light);
}
.multi-select .multi-select-header,
.multi-select .multi-select-option,
.multi-select .multi-select-all {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  border-radius: var(--ms-border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: var(--ms-font-size-larger);
  color: var(--ms-text-color-dark);
}
.multi-select.disabled {
  opacity: 0.6;
  pointer-events: none;
  background-color: var(--ms-input-disabled);
}
.multi-select.multi-select-invalid .multi-select-header {
  border-color: var(--ms-input-border-invalid);
  outline: var(--ms-input-outline-invalid) solid 1px;
}
